* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    background: orange;
    color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 2rem;
    padding: 1rem;
    background: #ccc;
}

.description p {
    text-align: justify;
}

.description-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    margin-bottom: 2rem;
    padding: 1rem;
}

.description-text h4,
.description-list h4 {
    margin-bottom: 1rem;
}

.description-text {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin-bottom: 2rem;
}

.separator {
    width: 1px;
    height: 10rem;
    background: #111;
}

.description-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    margin-bottom: 2rem;
}

.questions-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.question-container-header {
    display: flex;
    flex-direction: column;
    width: 86%;
    padding: 0.5%;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    border: 1px solid orange;
    padding: 2rem;
    border-radius: 1rem
}

.question-container-header h2 {
    align-self: center;
    justify-self: center;
}

.question-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    font: 2rem;
    border: 1px solid orange;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}


.label-quest {
    width: 80%;
}

.input-quest {
    height: 3rem;
    width: 20%;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 1rem;
    border: 1px solid orange;
    outline: none;
    margin-left: 1rem;
}

.submit-button {
    width: 12rem;
    height: 3rem;
    background: orange;
    color: #fff;
    font-size: 1.3rem;
    border-radius: 1rem;
    outline: none;
    border: none;
    cursor: pointer;
}

.submit-button:hover {
    background: rgb(209, 140, 12);
    color: #ccc;
}

.result-text {
    width: 50%;
    text-align: justify;
}

.graphic-personality {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.graphic {
    width: 1080px;
    height: 1080px;
}


footer {
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    background: orange;
    color: #fff;
}

footer a {
    color: #111;
}

@media screen and (max-width: 1080px) {
    .graphic {
        width: 960px;
        height: 960px;
    }
}

@media screen and (max-width: 960px) {
    .graphic {
        width: 900px;
        height: 900px;
    }
}

@media screen and (max-width: 800px) {
    .graphic {
        width: 720px;
        height: 720px;
    }
}

@media screen and (max-width: 720px) {
    .description-container {
        flex-direction: column;
        align-items: center;
    }

    .description-text {
        width: 90%;
        border-left: none;
    }

    .separator {
        height: 1px;
        width: 20rem;
        margin-bottom: 2rem;
    }

    .description-list {
        width: 90%;
    }

    .description-list ol {
        margin-left: 2rem;
    }

    .graphic {
        width: 680px;
        height: 680px;
    }
}

@media screen and (max-width:512px) {
    .graphic {
        width: 480px;
        height: 480px;
    }
}

@media screen and (max-width:480px) {
    .graphic {
        width: 420px;
        height: 420px;
    }
}

@media screen and (max-width:420px) {
    .graphic {
        width: 360px;
        height: 360px;
    }
}